* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}

body {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow-y: scroll;
  background-color: #3d3d3d;
}
body header {
  background-color: #808080;
  padding: 10px;
  height: 30vh;
  display: flex;
  z-index: 100;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 0px;
  padding-top: 200px;
  transition: height ease-in-out 0.5s;
}
body header .cont-header {
  background-color: #808080;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
body header .cont-header .compra {
  padding-top: 10px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 1000;
}
body header .cont-header .compra.active {
  overflow-y: scroll;
  position: absolute;
  left: 60%;
  height: 100vh;
  width: 60em;
  top: 0%;
  border-left: 1px solid black;
  background-color: #6a6a69;
}
body header .cont-header .compra .cancel {
  transition: all 0.2s ease-in-out;
  display: none;
  color: rgb(175, 29, 29);
  padding: 5px;
}
body header .cont-header .compra .cancel.active {
  display: block;
}
body header .cont-header .compra .sub-compra {
  display: flex;
}
body header .cont-header .compra .sub-compra .cart {
  color: #000000;
}
body header .cont-header .compra .sub-compra .cart.active {
  display: none;
}
body header .cont-header .compra .sub-compra #carrito.active {
  display: none;
}
body header .cont-header .compra p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9em;
}
body header .cont-header .compra .material-symbols-outlined {
  cursor: pointer;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
body header .cont-header .compra .lista-de-compra {
  transition: display 1s ease-in-out;
  display: none;
  width: 100%;
  border: 1px solid black;
  list-style: none;
  flex-direction: column;
  background-color: #6a6a69;
}
body header .cont-header .compra .lista-de-compra h3 {
  color: #070707;
  font-size: 2em;
}
body header .cont-header .compra .lista-de-compra #total {
  color: white;
  font-size: 1.5em;
}
body header .cont-header .compra .lista-de-compra.active {
  transition: display 1s ease-in-out;
  display: flex;
}
body header .cont-header .compra .lista-de-compra .producto_lista {
  padding-left: 5px;
  display: flex;
  gap: 10px;
  align-items: center;
  height: 100px;
  border-top: 1px solid black;
}
body header .cont-header .compra .lista-de-compra .producto_lista .icon_delete {
  cursor: pointer;
  position: absolute;
  left: 50%;
  color: red;
}
body header .cont-header .compra .lista-de-compra .producto_lista .img_producto {
  transition: all 0.2s ease-in-out;
  border-radius: 3px;
  width: 60px;
  height: 60px;
}
body header .cont-header .compra .lista-de-compra .producto_lista .text_producto {
  font-size: 1.4em;
}
body header .cont-header .compra .lista-de-compra .producto_lista:hover {
  background-color: #2e7a6e;
}
body header .cont-header .compra .lista-de-compra .producto_lista:hover .img_producto {
  width: 80px;
  height: 80px;
}
body header .cont-header .compra .btn-compra {
  display: none;
  margin-top: 10px;
  border-radius: 20px;
  border: none;
  color: white;
  height: 30px;
  width: 100px;
  background-color: rgb(66, 66, 66);
  transition: all 0.2s ease-in-out;
}
body header .cont-header .compra .btn-compra:hover {
  background-color: rgb(100, 99, 99);
}
body header .cont-header .compra .btn-compra.active {
  display: block;
}
body header .cont-header .cont-input {
  border-bottom: 1px solid #D9C9B9;
  border-width: 0.5px;
}
body header .cont-header .cont-input input {
  color: #000000;
  font-size: 1em;
  border: none;
  width: 11em;
  background-color: rgba(245, 245, 220, 0);
}
body header .cont-header .cont-input input:focus {
  outline: none;
  color: #725b5b;
}
body header .cont-header .cont-input.active {
  position: relative;
  left: -5.54%;
}
body header .cont-header .material-symbols-outlined {
  color: #D9C9B9;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
body header .cont-header .img-logo {
  cursor: pointer;
  height: 15vh;
  margin-right: 200px;
  width: 15vw;
  border-radius: 50%;
  transition: transform ease-in-out 1s;
  border: 1px solid #D9C9B9;
}
body header .cont-header .img-logo.active {
  position: relative;
  left: -16.7%;
}
body header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 40px;
  margin-top: 20px;
  background-color: #D9C9B9;
  font-size: 20px;
  margin-bottom: 200px;
}
body header nav .menu-horizontal {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 70px;
  width: 100vw;
}
body header nav .menu-horizontal li {
  display: block;
  padding: 20px 0px;
  color: white;
  text-decoration: none;
}
body header nav .menu-horizontal li a {
  font-size: 0.8em;
  font-weight: 100;
  text-decoration: none;
  color: rgb(0, 0, 0);
}
body header nav .menu-horizontal li:hover {
  color: white;
}
body header nav .menu-horizontal li:hover a {
  color: rgb(155, 155, 155);
}
body header nav .menu-horizontal li:hover .menu-vertical {
  display: block;
}
body header nav .menu-horizontal li .menu-vertical {
  margin-top: 5px;
  padding-top: 20px;
  position: absolute;
  display: none;
  list-style: none;
  width: 200px;
  height: 185px;
  border: 1px solid black;
  background-color: #D9C9B9;
}
body header nav .menu-horizontal li .menu-vertical li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 10px;
}
body header nav .menu-horizontal li .menu-vertical li p {
  height: 40px;
  padding-left: 4px;
  color: rgb(7, 7, 7);
  font-size: 0.8em;
}
body header nav .menu-horizontal li .menu-vertical li:hover .sub-menu {
  display: block;
}
body header nav .menu-horizontal li .menu-vertical li:hover p {
  color: white;
}
body header nav .menu-horizontal li .menu-vertical .sub-menu {
  position: absolute;
  margin-left: 100%;
  margin-top: 41px;
  display: none;
  list-style: none;
  background-color: #D9C9B9;
}
body header nav .menu-horizontal li .menu-vertical .sub-menu li {
  padding-bottom: 20px;
  height: 10px;
  font-size: 0.8em;
  color: black;
  padding-left: 4px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  width: 200px;
}
body header nav .menu-horizontal li .menu-vertical .sub-menu li:hover {
  color: white;
}
body header nav .menu-horizontal li .menu-vertical .sub-menu .ultimo {
  border-bottom: 1px solid black;
}
body main {
  margin-top: 400px;
  background-color: #3d3d3d;
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body main .slider-frame {
  transition: all 1s ease-in-out;
  width: 60vw;
  height: auto;
  margin: 50px auto 0;
  overflow: hidden;
}
body main .slider-frame.active {
  display: none;
}
body main .slider-frame ul {
  display: flex;
  padding: 0;
  width: 400%;
  animation: slide 20s infinite alternate ease-in-out;
}
body main .slider-frame li {
  width: 100%;
  list-style: none;
}
body main .slider-frame img {
  width: 100%;
  height: 500px;
  border-radius: 20px;
}
@keyframes slide {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
body main h1 {
  margin-top: -60px;
  text-align: center;
  width: 100%;
  font-size: 3em;
  color: #bba9a9;
  font-family: "Bonny", serif;
}
body main .custom-loader {
  position: relative;
  display: none;
  width: 200px;
  height: 200px;
  border: 6px solid #81531d;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 1.5s linear infinite;
  margin: 0 auto;
}
body main .filtro {
  border-radius: 20px;
  border: 1px solid rgb(231, 235, 197);
  padding: 10px;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-start;
  align-items: flex-start;
  left: 0.5vw;
  top: 50%;
  width: 20vh;
}
body main .filtro.active {
  top: 50%;
}
body main .filtro h3 {
  font-size: 1.2em;
  color: rgb(197, 172, 109);
}
body main .filtro ul {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  list-style: none;
  color: rgb(221, 194, 123);
}
body main .filtro ul li {
  width: 60%;
  cursor: pointer;
}
body main .filtro ul li:hover {
  animation: borderAnimation 1s infinite;
  box-shadow: 0 1px 0 0 rgb(221, 194, 123);
}
@keyframes borderAnimation {
  0% {
    box-shadow: 0 1px 0 0rgb 221, 194, 123;
  }
  50% {
    box-shadow: 0 1px 0 0 rgb(221, 194, 123);
  }
  100% {
    box-shadow: 0 1px 0 0 rgb(221, 194, 123);
  }
}
body main .filtro ul .filtro_precio {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
body main .filtro ul .filtro_precio div {
  width: 100%;
  display: flex;
  gap: 4px;
}
body main .filtro ul .filtro_precio div input {
  width: 30%;
  color: rgb(221, 194, 123);
  background-color: rgb(54, 49, 31);
  border: 1px solid gray;
  border-radius: 10px;
  padding: 2px;
}
body main .filtro ul .filtro_precio div input:focus {
  border: 1px solid rgb(44, 44, 155);
  outline: none;
}
body main .filtro ul .filtro_precio div .btn_precio {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(184, 184, 184, 0.2588235294);
  color: rgba(255, 255, 255, 0.212);
  border: 1px solid rgba(0, 0, 0, 0.137);
}
body main .filtro ul .filtro_precio div .btn_precio:hover {
  background-color: #777777;
}
body main .filtro ul .filtro_precio:hover {
  animation: none;
  box-shadow: none;
}
body main .cont-productos {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(3, 1fr);
  padding-left: 50px;
  width: 70%;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body main .cont-productos #load {
  display: none;
}
body main .cont-productos #no_encontrado {
  width: 60vw;
  font-weight: bolder;
  font-size: 3em;
  text-align: center;
  color: rgb(221, 194, 123);
  border: 1px solid white;
}
body main .cont-productos .articulo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 25vw;
  height: 63vh;
  border-radius: 10px;
  gap: 10px;
  transition: all 0.7s ease-in-out;
}
body main .cont-productos .articulo:hover p {
  color: rgb(211, 184, 117);
}
body main .cont-productos .articulo:hover img {
  filter: brightness(50%);
}
body main .cont-productos .articulo:hover .agregar {
  display: flex;
  align-items: center;
  justify-content: center;
}
body main .cont-productos .articulo .agregar {
  z-index: 10;
  cursor: pointer;
  display: none;
  background-color: rgba(0, 0, 0, 0.486);
  color: rgba(255, 255, 255, 0.486);
  position: absolute;
  height: 60px;
  width: 60px;
  border-radius: 10px;
  font-size: 3em;
}
body main .cont-productos .articulo img {
  border: 1px solid black;
  width: 22vw;
  height: 50vh;
  border-radius: 10px;
}
body main .cont-productos .articulo p {
  transition: all 0.2s ease-in-out;
  color: rgb(134, 115, 62);
  font-size: 1.4em;
}
body main .cont-productos .articulo.filtro {
  display: none;
}
body main footer {
  position: relative;
  top: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15em;
  width: 100vw;
  background-color: #D9C9B9;
}
body main footer .navegacion {
  height: 100%;
}
body main footer .navegacion ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  margin-top: 10px;
}
body main footer .navegacion ul li {
  cursor: pointer;
  font-size: 1em;
  font-weight: 300;
  color: black;
}
body main footer .navegacion ul li:hover {
  box-shadow: 0 1px 0 0 rgb(0, 0, 0);
}
body main footer .derechos {
  height: 100%;
}
body main footer .div-contacto {
  display: flex;
  height: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}
body main footer .div-contacto h3 {
  font-size: 1.5em;
}
body main footer .div-contacto div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  text-align: center;
}
body main footer .div-contacto div svg {
  height: 1em;
  width: 1em;
}
body main footer .div-contacto a {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
body main footer .div-contacto a p {
  text-decoration: none;
  color: black;
}
body main footer .div-contacto a svg {
  height: 1em;
  width: 1em;
}
body main footer .div-contacto a:hover {
  box-shadow: 0 1px 0 0 rgb(0, 0, 0);
}

@media (max-width: 1400px) {
  body header .cont-header .cont-regis {
    display: flex;
    flex-direction: column;
  }
  body header .cont-header .cont-regis p {
    display: none;
  }
  body header .cont-header .compra {
    left: 60em;
  }
  body main h1 {
    color: rgb(221, 194, 123);
    font-family: "Bonny", serif;
  }
  body main .filtro {
    top: 110%;
  }
  body main .filtro h3 {
    font-size: 0.8em;
    font-weight: bolder;
  }
  body main .cont-productos {
    grid-template-columns: repeat(2, 1fr);
  }
  body main .cont-productos .articulo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40vw;
    height: 63vh;
    border-radius: 10px;
    gap: 10px;
    transition: all 0.7s ease-in-out;
  }
  body main .cont-productos .articulo img {
    border: 1px solid black;
    width: 35vw;
    height: 50vh;
    border-radius: 10px;
  }
}
@media (max-width: 375px) {
  body header .cont-header .cont-regis {
    display: flex;
    flex-direction: column;
  }
  body header .cont-header .cont-regis p {
    display: none;
  }
  body header .cont-header .cont-regis .compra {
    justify-content: center;
    left: 60em;
  }
  body main h1 {
    color: rgb(221, 194, 123);
    font-family: "Bonny", serif;
  }
  body main .filtro {
    top: 110%;
  }
  body main .filtro h3 {
    font-size: 0.8em;
    font-weight: bolder;
  }
  body main .cont-productos {
    grid-template-columns: repeat(2, 1fr);
  }
  body main .cont-productos .articulo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40vw;
    height: 63vh;
    border-radius: 10px;
    gap: 10px;
    transition: all 0.7s ease-in-out;
  }
  body main .cont-productos .articulo img {
    border: 1px solid black;
    width: 35vw;
    height: 50vh;
    border-radius: 10px;
  }
}/*# sourceMappingURL=estilo.css.map */