* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}

body {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow-y: scroll;
  background-color: rgb(54, 49, 31);
}
body header {
  background-color: #d8bea0;
  padding: 10px;
  height: 30vh;
  display: flex;
  z-index: 100;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 0px;
  padding-top: 200px;
  transition: height ease-in-out 0.5s;
}
body header .cont-header {
  background-color: rgb(216, 190, 160);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
body header .cont-header .cont-regis {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
body header .cont-header .cont-regis a {
  text-decoration: none;
  color: rgb(54, 36, 23);
  transition: all 0.3s;
}
body header .cont-header .cont-regis a:hover {
  animation: borderAnimations 1s infinite;
  box-shadow: 0 1px 0 0 rgb(0, 0, 0);
}
@keyframes borderAnimations {
  0% {
    box-shadow: 0 1px 0 0rgb 221, 194, 123;
  }
  50% {
    box-shadow: 0 1px 0 0 rgb(0, 0, 0);
  }
  100% {
    box-shadow: 0 1px 0 0 rgb(0, 0, 0);
  }
}
body header .cont-header .cont-input {
  border-bottom: 1px solid rgb(54, 36, 23);
  border-width: 0.5px;
}
body header .cont-header .cont-input input {
  color: rgb(54, 36, 23);
  font-size: 1em;
  border: none;
  width: 150px;
  background-color: rgba(245, 245, 220, 0);
}
body header .cont-header .cont-input input:focus {
  outline: none;
  color: rgb(54, 36, 23);
}
body header .cont-header .material-symbols-outlined {
  color: rgb(54, 36, 23);
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
body header img {
  padding-top: 10px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  transition: transform ease-in-out 0.3s;
}
body header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 40px;
  margin-top: 20px;
  background-color: rgb(107, 96, 65);
  font-size: 20px;
  margin-bottom: 200px;
}
body header nav .menu-horizontal {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 70px;
  width: 100vw;
}
body header nav .menu-horizontal li {
  display: block;
  padding: 20px 0px;
  color: white;
  text-decoration: none;
}
body header nav .menu-horizontal li a {
  font-size: 0.8em;
  font-weight: 100;
  text-decoration: none;
  color: rgb(0, 0, 0);
}
body header nav .menu-horizontal li:hover {
  color: white;
}
body header nav .menu-horizontal li:hover a {
  color: white;
}
body header nav .menu-horizontal li:hover .menu-vertical {
  display: block;
}
body header nav .menu-horizontal li .menu-vertical {
  margin-top: 5px;
  padding-top: 20px;
  position: absolute;
  display: none;
  list-style: none;
  width: 200px;
  height: 185px;
  border: 1px solid black;
  background-color: rgb(107, 96, 65);
}
body header nav .menu-horizontal li .menu-vertical li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 10px;
}
body header nav .menu-horizontal li .menu-vertical li p {
  height: 40px;
  padding-left: 4px;
  color: rgb(7, 7, 7);
  font-size: 0.8em;
}
body header nav .menu-horizontal li .menu-vertical li:hover .sub-menu {
  display: block;
}
body header nav .menu-horizontal li .menu-vertical li:hover p {
  color: white;
}
body header nav .menu-horizontal li .menu-vertical .sub-menu {
  position: absolute;
  margin-left: 100%;
  margin-top: 41px;
  display: none;
  list-style: none;
  background-color: rgb(107, 96, 65);
}
body header nav .menu-horizontal li .menu-vertical .sub-menu li {
  padding-bottom: 20px;
  height: 10px;
  font-size: 0.8em;
  color: black;
  padding-left: 4px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  width: 200px;
}
body header nav .menu-horizontal li .menu-vertical .sub-menu li:hover {
  color: white;
}
body header nav .menu-horizontal li .menu-vertical .sub-menu .ultimo {
  border-bottom: 1px solid black;
}
body main {
  margin-top: 400px;
  background-color: rgb(54, 49, 31);
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
body main h1 {
  color: rgb(221, 194, 123);
  font-family: "Bonny", serif;
}
body main .custom-loader {
  position: relative;
  display: none;
  width: 200px;
  height: 200px;
  border: 6px solid #81531d;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 1.5s linear infinite;
  margin: 0 auto;
}
body main .filtro {
  border-radius: 20px;
  border: 1px solid rgb(231, 235, 197);
  padding: 10px;
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-start;
  align-items: flex-start;
  left: 2%;
  top: 50%;
  height: 30%;
}
body main .filtro h3 {
  color: rgb(197, 172, 109);
}
body main .filtro ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  color: rgb(221, 194, 123);
}
body main .filtro ul li {
  cursor: pointer;
}
body main .filtro ul li:hover {
  animation: borderAnimation 1s infinite;
  box-shadow: 0 1px 0 0 rgb(221, 194, 123);
}
@keyframes borderAnimation {
  0% {
    box-shadow: 0 1px 0 0rgb 221, 194, 123;
  }
  50% {
    box-shadow: 0 1px 0 0 rgb(221, 194, 123);
  }
  100% {
    box-shadow: 0 1px 0 0 rgb(221, 194, 123);
  }
}
body main .cont-productos {
  padding-top: 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-left: 50px;
  gap: 10px;
  width: 70%;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body main .cont-productos #load {
  display: none;
}
body main .cont-productos .articulo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  height: 600px;
  border-radius: 10px;
  gap: 10px;
}
body main .cont-productos .articulo:hover {
  background-color: rgba(12, 12, 12, 0.2274509804);
}
body main .cont-productos .articulo:hover p {
  color: rgb(211, 184, 117);
}
body main .cont-productos .articulo img {
  border: 1px solid black;
  width: 400px;
  height: 500px;
  border-radius: 10px;
}
body main .cont-productos .articulo p {
  transition: all 0.2s ease-in-out;
  color: rgb(117, 103, 65);
  font-size: 1.4em;
}
body main .cont-productos .articulo.filtro {
  display: none;
}

@media (max-width: 1000px) {
  body main h1 {
    margin-left: 50px;
    color: rgb(221, 194, 123);
    font-family: "Bonny", serif;
  }
  body main .filtro {
    top: 60%;
  }
  body main .cont-productos {
    grid-template-columns: repeat(1, 1fr);
  }
}/*# sourceMappingURL=estilo.css.map */