* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s ease-in-out;
}

body {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow-y: scroll;
    background-color: #1D7363;

    header {
        background-color: #1D7363;
        padding: 10px;
        height: 30vh;
        display: flex;
        z-index: 100;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: fixed;
        top: 0px;
        padding-top: 200px;
        transition: height ease-in-out .5s;

        .cont-header {
            background-color: #1D7363;
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;

            .compra {


                padding-top: 10px;
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                justify-content: flex-start;
                z-index: 1000;

                &.active {
                    overflow-y: scroll;
                    position: absolute;
                    left: 60%;
                    height: 100vh;
                    width: 60em;
                    top: 0%;
                    border-left: 1px solid black;
                    background-color: #113b34;
                }

                .cancel {
                    transition: all .2s ease-in-out;
                    display: none;
                    color: rgb(175, 29, 29);
                    padding: 5px;
                    &.active{
                        display: block;
                    }
                }

                .sub-compra {
                    display: flex;
                    .cart {
                        color: #000000;
                        &.active{
                            display: none;
                        }
                    }

                    
                    #carrito{
                        &.active{
                            display: none;
                        }
                    }
                }

                p {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: .9em;
                }

                .material-symbols-outlined {
                    cursor: pointer;
                    font-variation-settings:
                        'FILL' 0,
                        'wght' 400,
                        'GRAD' 0,
                        'opsz' 48
                }

                .lista-de-compra {

                    transition: display 1s ease-in-out;
                    display: none;
                    width: 100%;
                    border: 1px solid black;
                    list-style: none;
                    flex-direction: column;
                    background-color: #113b34;

                    h3 {
                        color: #070707;
                        ;
                        font-size: 2em;
                    }

                    #total {
                        color: white;
                        font-size: 1.5em;
                    }

                    &.active {
                        transition: display 1s ease-in-out;
                        display: flex;
                    }

                    .producto_lista {
                        padding-left: 5px;
                        display: flex;
                        gap: 10px;
                        align-items: center;
                        height: 100px;
                        border-top: 1px solid black;

                        .icon_delete {
                            cursor: pointer;
                            position: absolute;
                            left: 50%;
                            color: red;
                        }

                        .img_producto {
                            transition: all .2s ease-in-out;
                            border-radius: 3px;
                            width: 60px;
                            height: 60px;

                        }

                        .text_producto {
                            font-size: 1.4em;
                        }

                        &:hover {
                            .img_producto {
                                width: 80px;
                                height: 80px;
                            }

                            background-color: #2e7a6e;
                        }

                    }
                }

                .btn-compra {
                    display: none;
                    margin-top: 10px;
                    border-radius: 20px;
                    border: none;
                    color: white;
                    height: 30px;
                    width: 100px;
                    background-color: rgb(66, 66, 66);
                    transition: all .2s ease-in-out;

                    &:hover {
                        background-color: rgb(100, 99, 99);
                    }

                    &.active {
                        display: block;
                    }
                }
            }

            .cont-input {
                border-bottom: 1px solid #D9C9B9;
                border-width: 0.5px;

                input {
                    color: #000000;
                    font-size: 1em;
                    border: none;
                    width: 11em;
                    background-color: rgba(245, 245, 220, 0);

                    &:focus {
                        outline: none;
                        color: #725b5b;
                    }
                }

                &.active {
                    position: relative;
                    left: -5.54%;
                }
            }

            .material-symbols-outlined {
                color: #D9C9B9;
                font-variation-settings:
                    'FILL' 0,
                    'wght' 400,
                    'GRAD' 0,
                    'opsz' 48
            }

            .img-logo {
                cursor: pointer;
                height: 15vh;
                margin-right: 200px;
                width: 15vw;
                border-radius: 50%;
                transition: transform ease-in-out 1s;
                border: 1px solid #D9C9B9;

                &.active {
                    position: relative;
                    left: -16.7%;
                }

            }
        }



        nav {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 90%;
            height: 40px;
            margin-top: 20px;
            background-color: #D9C9B9;
            font-size: 20px;
            margin-bottom: 200px;

            .menu-horizontal {
                list-style: none;
                display: flex;
                justify-content: center;
                gap: 70px;
                width: 100vw;

                li {

                    display: block;
                    padding: 20px 0px;
                    color: white;
                    text-decoration: none;

                    a {

                        font-size: .8em;
                        font-weight: 100;
                        text-decoration: none;
                        color: rgb(0, 0, 0);

                    }

                    &:hover {

                        color: white;

                        a {
                            color: rgb(155, 155, 155);
                        }

                        .menu-vertical {
                            display: block;

                        }
                    }

                    .menu-vertical {
                        margin-top: 5px;
                        padding-top: 20px;
                        position: absolute;
                        display: none;
                        list-style: none;
                        width: 200px;
                        height: 185px;
                        border: 1px solid black;
                        background-color: #D9C9B9;

                        li {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            height: 10px;

                            p {
                                height: 40px;
                                padding-left: 4px;
                                color: rgb(7, 7, 7);
                                font-size: 0.8em;
                            }

                            &:hover {
                                .sub-menu {
                                    display: block;
                                }

                                p {
                                    color: white;
                                }
                            }
                        }

                        .sub-menu {
                            position: absolute;
                            margin-left: 100%;
                            margin-top: 41px;
                            display: none;
                            list-style: none;
                            background-color: #D9C9B9;

                            li {
                                padding-bottom: 20px;
                                height: 10px;
                                font-size: 0.8em;
                                color: black;
                                padding-left: 4px;
                                border-left: 1px solid black;
                                border-right: 1px solid black;
                                border-top: 1px solid black;
                                width: 200px;



                                &:hover {
                                    color: white;
                                }
                            }

                            .ultimo {
                                border-bottom: 1px solid black;
                            }
                        }
                    }

                }
            }
        }
    }

    main {
        margin-top: 400px;
        background-color: #1D7363;
        height: 100%;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .slider-frame {
            transition: all 1s ease-in-out;
            width: 60vw;
            height: auto;
            margin: 50px auto 0;
            overflow: hidden;

            &.active {
                display: none;
            }
        }

        .slider-frame ul {
            display: flex;
            padding: 0;
            width: 400%;

            animation: slide 20s infinite alternate ease-in-out;
        }

        .slider-frame li {
            width: 100%;
            list-style: none;
        }

        .slider-frame img {
            width: 100%;
            height: 500px;
            border-radius: 20px;
        }

        @keyframes slide {
            0% {
                margin-left: 0;
            }

            20% {
                margin-left: 0;
            }

            25% {
                margin-left: -100%;
            }

            45% {
                margin-left: -100%;
            }

            50% {
                margin-left: -200%;
            }

            70% {
                margin-left: -200%;
            }

            75% {
                margin-left: -300%;
            }

            100% {
                margin-left: -300%;
            }
        }

        h1 {
            margin-top: -60px;
            text-align: center;
            width: 100%;
            font-size: 3em;
            color: rgb(221, 194, 123);
            font-family: 'Bonny', serif;
        }

        .custom-loader {
            position: relative;
            display: none;
            width: 200px;
            height: 200px;
            border: 6px solid #81531d;
            border-top-color: transparent;
            border-radius: 50%;
            animation: spin 1.5s linear infinite;
            margin: 0 auto;
        }

        .filtro {
            border-radius: 20px;
            border: 1px solid rgb(231, 235, 197);
            padding: 10px;
            position: absolute;
            display: flex;
            flex-direction: column;
            gap: 20px;
            justify-content: flex-start;
            align-items: flex-start;
            left: .5vw;
            top: 50%;
            width: 20vh;

            &.active {
                top: 50%;
            }

            h3 {
                font-size: 1.2em;
                color: rgb(197, 172, 109);
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: 2vh;
                list-style: none;
                color: rgb(221, 194, 123);

                li {
                    width: 60%;
                    cursor: pointer;

                    &:hover {
                        animation: borderAnimation 1s infinite;
                        box-shadow: 0 1px 0 0 rgb(221, 194, 123);
                    }

                    @keyframes borderAnimation {
                        0% {
                            box-shadow: 0 1px 0 0rgb(221, 194, 123);
                        }

                        50% {
                            box-shadow: 0 1px 0 0 rgb(221, 194, 123);
                        }

                        100% {
                            box-shadow: 0 1px 0 0 rgb(221, 194, 123);
                        }
                    }
                }

                .filtro_precio {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    div {
                        width: 100%;
                        display: flex;
                        gap: 4px;

                        input {
                            width: 30%;
                            color: rgb(221, 194, 123);
                            background-color: rgb(54, 49, 31);
                            border: 1px solid gray;
                            border-radius: 10px;
                            padding: 2px;

                            &:focus {
                                border: 1px solid rgb(44, 44, 155);
                                outline: none;
                            }
                        }

                        .btn_precio {
                            cursor: pointer;
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            background-color: #b8b8b842;
                            color: rgba(255, 255, 255, 0.212);
                            border: 1px solid rgba(0, 0, 0, 0.137);

                            &:hover {
                                background-color: #777777;
                            }
                        }


                    }

                    &:hover {
                        animation: none;
                        box-shadow: none;
                    }
                }
            }

        }

        .cont-productos {



            @keyframes spin {
                0% {
                    transform: rotate(0deg);
                }

                100% {
                    transform: rotate(360deg);
                }
            }

            display: grid;
            justify-content: center;
            align-content: center;
            grid-template-columns: repeat(3, 1fr);
            padding-left: 50px;
            width: 70%;

            #load {
                display: none;
            }

            #no_encontrado {
                width: 60vw;
                font-weight: bolder;
                font-size: 3em;
                text-align: center;
                color: rgb(221, 194, 123);
                border: 1px solid white;

            }

            .articulo {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 25vw;
                height: 63vh;
                border-radius: 10px;
                gap: 10px;
                transition: all 0.7s ease-in-out;

                &:hover {

                    p {
                        color: rgb(211, 184, 117);
                    }

                    img {
                        filter: brightness(50%);
                    }

                    .agregar {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                .agregar {
                    z-index: 10;
                    cursor: pointer;
                    display: none;
                    background-color: rgba(0, 0, 0, 0.486);
                    color: rgba(255, 255, 255, 0.486);
                    position: absolute;
                    height: 60px;
                    width: 60px;
                    border-radius: 10px;
                    font-size: 3em;

                }



                img {
                    border: 1px solid black;
                    width: 22vw;
                    height: 50vh;
                    border-radius: 10px;

                }

                p {
                    transition: all .2s ease-in-out;
                    color: rgb(117, 103, 65);
                    font-size: 1.4em;

                }

                &.filtro {
                    display: none;
                }
            }
        }

        footer {
            position: relative;
            top: 100vh;
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 15em;
            width: 100vw;
            background-color: #D9C9B9;

            .navegacion {
                height: 100%;

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    list-style: none;
                    margin-top: 10px;

                    li {
                        cursor: pointer;
                        font-size: 1em;
                        font-weight: 300;
                        color: black;

                        &:hover {
                            box-shadow: 0 1px 0 0 rgb(0, 0, 0);
                        }
                    }

                }
            }

            .derechos {
                height: 100%;

            }

            .div-contacto {
                display: flex;
                height: 100%;
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: column;
                gap: 20px;

                h3 {
                    font-size: 1.5em;
                }

                div {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 2px;
                    text-align: center;

                    svg {
                        height: 1em;
                        width: 1em;
                    }
                }

                a {
                    display: block;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    transition: all .2s ease-in-out;

                    p {
                        text-decoration: none;
                        color: black;
                    }

                    svg {
                        height: 1em;
                        width: 1em;
                    }

                    &:hover {
                        box-shadow: 0 1px 0 0 rgb(0, 0, 0);
                    }
                }


            }

        }
    }


}

@media(max-width:1400px) {
    body {
        header {
            .cont-header {
                .cont-regis {
                    p {
                        display: none;
                    }

                    display: flex;
                    flex-direction: column;


                }

                .compra {
                    left: 60em;
                }
            }
        }


        main {
            h1 {

                color: rgb(221, 194, 123);
                font-family: 'Bonny', serif;
            }

            .filtro {
                h3 {
                    font-size: .8em;
                    font-weight: bolder;
                }

                top: 110%;


            }

            .cont-productos {
                grid-template-columns: repeat(2, 1fr);

                .articulo {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    width: 40vw;
                    height: 63vh;
                    border-radius: 10px;
                    gap: 10px;
                    transition: all 0.7s ease-in-out;

                    img {
                        border: 1px solid black;
                        width: 35vw;
                        height: 50vh;
                        border-radius: 10px;

                    }
                }




            }
        }
    }
}

@media(max-width:375px) {
    body {
        header {
            .cont-header {
                .cont-regis {
                    p {
                        display: none;
                    }

                    display: flex;
                    flex-direction: column;

                    .compra {
                        justify-content: center;
                        left: 60em;
                    }
                }
            }
        }


        main {
            h1 {

                color: rgb(221, 194, 123);
                font-family: 'Bonny', serif;
            }

            .filtro {
                h3 {
                    font-size: .8em;
                    font-weight: bolder;
                }

                top: 110%;


            }

            .cont-productos {
                grid-template-columns: repeat(2, 1fr);

                .articulo {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    width: 40vw;
                    height: 63vh;
                    border-radius: 10px;
                    gap: 10px;
                    transition: all 0.7s ease-in-out;

                    img {
                        border: 1px solid black;
                        width: 35vw;
                        height: 50vh;
                        border-radius: 10px;

                    }
                }




            }
        }
    }
}