@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}

.whatsapp-btn {
  position: fixed;
  bottom: 20px;
  left: 1%;
  z-index: 9999;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #25D366;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  animation: breathe 2s ease-in-out infinite;
}
.whatsapp-btn:hover::after {
  content: "Hola,¿podemos ayudar en algo?";
  text-align: center;
  padding: 5px;
  margin-left: 360px;
  position: absolute;
  height: 20px;
  width: 250px;
  color: #000000;
  background-color: #ffffff;
  border-radius: 20px;
}

.whatsapp-btn svg {
  color: #fff;
  font-size: 24px;
  animation: beat 2s ease-in-out infinite;
  text-decoration: none;
}

@keyframes breathe {
  0% {
    box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.5);
  }
  70% {
    box-shadow: 0 0 0 15px rgba(37, 211, 102, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
@keyframes beat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
body {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow-y: scroll;
  background-color: #0a0909;
}
body header {
  background-color: #0a0909;
  padding: 10px;
  height: 120px;
  display: flex;
  z-index: 100;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 0%;
  transition: height ease-in-out 0.5s;
  width: 100%;
}
body header .material-symbols-outlined {
  color: #D9C9B9;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
body header nav {
  margin-top: 10px;
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  border-radius: 100px;
  height: 10vh;
  background-color: #0a0909;
  font-size: 20px;
  box-shadow: 0 10px 10px #0f0f0f;
  /* Box shadow aplicado */
}
body header nav .cont-input {
  padding: 10px;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 40px;
  border-width: 0.5px;
  width: 14vw;
  margin: 10px;
  color: #727171;
}
body header nav .cont-input input {
  color: #727171;
  font-size: 0.8em;
  border: none;
  width: 8vw;
  background-color: rgba(119, 68, 68, 0);
}
body header nav .cont-input input:focus {
  outline: none;
  color: #727171;
}
body header nav .cont-input input::-moz-placeholder {
  color: rgb(56, 56, 56);
}
body header nav .cont-input input::placeholder {
  color: rgb(56, 56, 56);
}
body header nav .cont-input .material-symbols-outlined {
  color: #727171;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
body header nav .menu-horizontal {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100vw;
}
body header nav .menu-horizontal .cont_img {
  display: flex;
  align-items: center;
  justify-content: center;
}
body header nav .menu-horizontal .cont_img .img-logo {
  color: #727171;
  cursor: pointer;
  height: 9vh;
  width: 9vw;
  border-radius: 50%;
  transition: transform ease-in-out 1s;
}
body header nav .menu-horizontal .cont_img h2 {
  color: #A18452;
  height: 100%;
  width: 12vw;
  font-family: "Panchang", sans-serif;
}
body header nav .menu-horizontal li {
  display: block;
  padding: 20px 0px;
  color: white;
  text-decoration: none;
}
body header nav .menu-horizontal li a,
body header nav .menu-horizontal li p {
  cursor: pointer;
  font-size: 0.8em;
  font-weight: 100;
  text-decoration: none;
  color: #727171;
  transition: 0.3s;
}
body header nav .menu-horizontal li a:hover,
body header nav .menu-horizontal li p:hover {
  color: white;
}
body header nav .menu-horizontal li a:hover a,
body header nav .menu-horizontal li p:hover a {
  color: rgb(255, 255, 255);
}
body header nav .menu-horizontal li .estilo_sesion {
  opacity: 0;
  height: 0px;
  width: 100vw;
  transition: all 0.3s ease-in-out;
  position: fixed;
  left: 100%;
  top: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.9843137255);
}
body header nav .menu-horizontal li .estilo_sesion.active {
  left: 0%;
  top: 0%;
  opacity: 1;
  height: 100%;
}
body header nav .menu-horizontal li .estilo_sesion form {
  box-shadow: 0 2px 10px rgba(179, 177, 177, 0.9);
  border: 1px solid wheat;
  background-color: rgba(15, 15, 15, 0);
  width: 30%;
  height: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border-radius: 50px;
}
body header nav .menu-horizontal li .estilo_sesion form div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-left: 10px;
}
body header nav .menu-horizontal li .estilo_sesion form div .arrow_left {
  font-size: 2em;
  cursor: pointer;
  display: inline;
}
body header nav .menu-horizontal li .estilo_sesion form div .arrow_left.active {
  display: inline;
}
body header nav .menu-horizontal li .estilo_sesion form div h2 {
  padding-right: 40px;
  width: 100%;
  text-align: center;
  font-size: 2.5em;
}
body header nav .menu-horizontal li .estilo_sesion form h6 {
  font-size: 0.8em;
  color: gray;
  display: inline;
}
body header nav .menu-horizontal li .estilo_sesion form h6 a {
  display: inline;
  font-size: 1em;
}
body header nav .menu-horizontal li .estilo_sesion * {
  margin-top: 30px;
  display: block;
}
body header nav .menu-horizontal li .estilo_sesion input {
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgb(66, 66, 66);
  border-radius: 5px;
  width: 60%;
  padding: 10px;
  box-shadow: 0 0px 4px rgba(179, 177, 177, 0.301);
}
body header nav .menu-horizontal li .estilo_sesion input:focus {
  outline: none;
  color: #ffffff;
}
body header nav .menu-horizontal li .estilo_sesion button {
  border: 1px solid rgb(77, 77, 77);
  background-color: rgb(150, 150, 150);
  color: black;
  font-size: 0.9em;
  border-radius: 20px;
  height: 6%;
  width: 60%;
  cursor: pointer;
}
body header nav .menu-horizontal li .estilo_sesion button:focus {
  outline: none;
}
body header nav .menu-horizontal li:hover a {
  color: rgb(255, 255, 255);
}
body header nav .menu-horizontal li:hover .menu-vertical {
  display: block;
}
body header nav .menu-horizontal li .menu-vertical {
  margin-top: 5px;
  padding-top: 20px;
  position: absolute;
  display: none;
  list-style: none;
  width: 200px;
  height: 185px;
  border: 1px solid black;
  background-color: #979797;
}
body header nav .menu-horizontal li .menu-vertical li {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 10px;
}
body header nav .menu-horizontal li .menu-vertical li p {
  height: 40px;
  padding-left: 4px;
  color: rgb(7, 7, 7);
  font-size: 0.8em;
}
body header nav .menu-horizontal li .menu-vertical li:hover .sub-menu {
  display: block;
}
body header nav .menu-horizontal li .menu-vertical li:hover p {
  color: white;
}
body header nav .menu-horizontal li .menu-vertical .sub-menu {
  position: absolute;
  margin-left: 100%;
  margin-top: 41px;
  display: none;
  list-style: none;
  background-color: #979797;
}
body header nav .menu-horizontal li .menu-vertical .sub-menu li {
  padding-bottom: 20px;
  height: 10px;
  font-size: 0.8em;
  color: black;
  padding-left: 4px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  width: 200px;
}
body header nav .menu-horizontal li .menu-vertical .sub-menu li:hover {
  color: white;
}
body header nav .menu-horizontal li .menu-vertical .sub-menu .ultimo {
  border-bottom: 1px solid black;
}
body main {
  margin-top: 250px;
  background-color: color-body;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body main h1 {
  margin-top: -60px;
  text-align: center;
  width: 100%;
  display: block;
  font-size: 3em;
  color: #A18452;
  font-family: "Bonny", serif;
}
body main h1::after {
  position: relative;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 10px;
  display: block;
  background-color: #25D366;
}
body main .destacado {
  margin-top: 60px;
  color: #53452e;
  font-size: 2em;
  font-weight: bolder;
  border-bottom: 3px solid #53452e;
}
body main .desc {
  display: none;
  margin-top: 60px;
  font-size: 2em;
  font-weight: bolder;
  color: #53452e;
  border-bottom: 3px solid #53452e;
}
body main .compra {
  border: 1px solid gray;
  background-color: white;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: fixed;
  right: 1%;
  bottom: 20px;
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
}
body main .compra.active {
  border-radius: 0%;
  padding-top: 0px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  overflow-x: hidden;
  overflow-y: scroll;
  position: fixed;
  right: 0;
  height: 100vh;
  width: 40em;
  top: 0%;
  border-left: 1px solid rgb(0, 0, 0);
  background-color: #979797;
}
body main .compra .cancel {
  position: absolute;
  left: 0px;
  transition: all 0.2s ease-in-out;
  display: none;
  color: rgb(175, 29, 29);
  padding: 5px;
}
body main .compra .cancel.active {
  display: block;
}
body main .compra .sub-compra {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
body main .compra .sub-compra .cart {
  font-size: 2em;
  color: #000000;
}
body main .compra .sub-compra .cart.active {
  display: none;
}
body main .compra .sub-compra .text_carrito {
  font-size: 2em;
  display: none;
}
body main .compra .sub-compra .text_carrito.active {
  display: block;
}
body main .compra .sub-compra #carrito {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: -16px;
  font-size: 1.2em;
  background-color: rgb(153, 35, 35);
  color: white;
}
body main .compra .sub-compra #carrito.active {
  display: none;
}
body main .compra p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9em;
}
body main .compra .material-symbols-outlined {
  cursor: pointer;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
body main .compra .lista-de-compra {
  transition: all 0.3s ease-in-out;
  transition: display 1s ease-in-out;
  display: none;
  width: 100%;
  border: 1px solid rgb(0, 0, 0);
  border-left: none;
  list-style: none;
  flex-direction: column;
  background-color: rgba(106, 106, 105, 0);
}
body main .compra .lista-de-compra .vacio {
  font-size: 2em;
}
body main .compra .lista-de-compra #total {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: white;
  font-size: 1.5em;
}
body main .compra .lista-de-compra.active {
  transition: display 1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main .compra .lista-de-compra .producto_lista {
  transition: all 0.3s ease-in-out;
  width: 100%;
  padding-left: 5px;
  display: flex;
  gap: 10px;
  align-items: center;
  height: 100px;
  border-top: 1px solid rgb(0, 0, 0);
}
body main .compra .lista-de-compra .producto_lista .icon_delete {
  cursor: pointer;
  position: absolute;
  right: 5%;
  color: red;
}
body main .compra .lista-de-compra .producto_lista .img_producto {
  transition: all 0.2s ease-in-out;
  border-radius: 3px;
  width: 60px;
  height: 60px;
}
body main .compra .lista-de-compra .producto_lista .precio_producto {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.4em;
  font-weight: 600;
  color: rgb(36, 36, 36);
}
body main .compra .lista-de-compra .producto_lista .text_producto {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 500;
  font-size: 1.4em;
  color: #333333;
}
body main .compra .lista-de-compra .producto_lista:hover {
  transition: all 0.3s ease-in-out;
  background-color: #afaeae;
}
body main .compra .lista-de-compra .producto_lista:hover .img_producto {
  width: 80px;
  height: 80px;
}
body main .compra .cont_btn_compra {
  width: 100%;
  height: auto;
  display: flex;
  margin: 30px;
  justify-content: center;
  align-items: center;
}
body main .compra .cont_btn_compra .btn-compra {
  display: none;
  margin-top: 10px;
  border-radius: 20px;
  border: none;
  color: white;
  height: 30px;
  width: 100px;
  background-color: rgb(66, 66, 66);
  transition: all 0.2s ease-in-out;
}
body main .compra .cont_btn_compra .btn-compra:hover {
  background-color: rgb(100, 99, 99);
}
body main .compra .cont_btn_compra .btn-compra.active {
  display: block;
}
body main .custom-loader {
  position: relative;
  display: none;
  width: 200px;
  height: 200px;
  border: 6px solid #81531d;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 1.5s linear infinite;
  margin: 0 auto;
}
body main .filtro {
  background-color: #53452e;
  border-radius: 20px;
  border: 1px solid gray;
  padding: 10px;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-start;
  align-items: flex-start;
  left: 0.5vw;
  top: 40%;
  box-shadow: 10px 4px 10px rgba(102, 101, 101, 0.5);
  width: 20vh;
  min-width: 15vh;
}
body main .filtro .cont_arrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
body main .filtro .cont_arrow h3 {
  font-size: 1.2em;
  color: rgb(255, 253, 253);
}
body main .filtro .cont_arrow .material-symbols-outlined {
  cursor: pointer;
  font-size: 2em;
}
body main .filtro .cont_arrow .arrow_down {
  color: white;
  display: block;
}
body main .filtro .cont_arrow .arrow_down.active {
  display: none;
}
body main .filtro .cont_arrow .arrow_up {
  color: white;
  display: none;
}
body main .filtro .cont_arrow .arrow_up.active {
  display: block;
}
body main .filtro.active {
  top: 50%;
}
body main .filtro .cont_filtros {
  display: none;
  flex-direction: column;
  gap: 2vh;
  list-style: none;
  color: rgb(223, 223, 223);
}
body main .filtro .cont_filtros.active {
  display: flex;
}
body main .filtro .cont_filtros li {
  width: 60%;
  cursor: pointer;
}
body main .filtro .cont_filtros li:hover {
  animation: borderAnimation 1s infinite;
  box-shadow: 0 1px 0 0 rgb(255, 255, 255);
}
@keyframes borderAnimation {
  0% {
    box-shadow: 0 1px 0 0rgb 255, 255, 255;
  }
  50% {
    box-shadow: 0 1px 0 0 rgb(255, 255, 255);
  }
  100% {
    box-shadow: 0 1px 0 0 rgb(255, 255, 255);
  }
}
body main .filtro .cont_filtros .filtro_precio {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
body main .filtro .cont_filtros .filtro_precio div {
  width: 100%;
  display: flex;
  gap: 4px;
}
body main .filtro .cont_filtros .filtro_precio div input {
  width: 30%;
  color: rgb(221, 194, 123);
  background-color: rgb(54, 49, 31);
  border: 1px solid gray;
  border-radius: 10px;
  padding: 2px;
}
body main .filtro .cont_filtros .filtro_precio div input:focus {
  border: 1px solid rgb(44, 44, 155);
  outline: none;
}
body main .filtro .cont_filtros .filtro_precio div .btn_precio {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(184, 184, 184, 0.2588235294);
  color: rgba(255, 255, 255, 0.212);
  border: 1px solid rgba(0, 0, 0, 0.137);
}
body main .filtro .cont_filtros .filtro_precio div .btn_precio:hover {
  background-color: #777777;
}
body main .filtro .cont_filtros .filtro_precio:hover {
  animation: none;
  box-shadow: none;
}
body main .cont-productos {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 20px;
  width: 70%;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body main .cont-productos #load {
  display: none;
}
body main .cont-productos #no_encontrado {
  width: 60vw;
  font-weight: bolder;
  font-size: 3em;
  text-align: center;
  color: rgb(221, 194, 123);
  border: 1px solid white;
}
body main .cont-productos .articulo {
  border: 1px solid;
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: auto;
  height: auto;
  border-radius: 10px;
  gap: 10px;
  transition: all 0.7s ease-in-out;
  border: 1px solid gray;
}
body main .cont-productos .articulo:hover {
  cursor: pointer;
}
body main .cont-productos .articulo:hover img {
  filter: brightness(60%);
}
body main .cont-productos .articulo:hover .agregar {
  visibility: visible;
}
body main .cont-productos .articulo .product-price {
  padding-left: 10px;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.4em;
  font-weight: 600;
  color: rgb(36, 36, 36);
}
body main .cont-productos .articulo .product-name {
  padding-left: 10px;
  font-family: "Rasputin";
  font-weight: 500;
  font-size: 1.4em;
  color: #333333;
}
body main .cont-productos .articulo .product-stock {
  padding-left: 10px;
  color: rgb(83, 82, 82);
}
body main .cont-productos .articulo .agregar {
  transition: all 0.2s ease-in-out;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #776344;
  color: rgb(255, 255, 255);
  visibility: hidden;
  height: 25px;
  width: 100px;
  border-radius: 30px;
  font-size: 0.6em;
}
body main .cont-productos .articulo .agregar:hover {
  background-color: #5e4e36;
}
body main .cont-productos .articulo img {
  transition: all 0.7s ease-in-out;
  width: 20vw;
  height: 30vh;
  border-radius: 10px 10px 0px 0px;
}
body main .cont-productos .articulo.filtro {
  display: none;
}
body main footer {
  margin-top: 200px;
  padding-top: 20px;
  display: flex;
  gap: 20%;
  justify-content: center;
  align-items: center;
  height: 15em;
  width: 100vw;
  background-color: #868686;
}
body main footer .navegacion {
  height: 100%;
}
body main footer .navegacion ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  margin-top: 10px;
}
body main footer .navegacion ul li {
  cursor: pointer;
  font-size: 1em;
  font-weight: 300;
  color: black;
}
body main footer .navegacion ul li:hover {
  box-shadow: 0 1px 0 0 rgb(0, 0, 0);
}
body main footer .div-contacto {
  display: flex;
  height: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}
body main footer .div-contacto h3 {
  font-size: 1.5em;
}
body main footer .div-contacto div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  text-align: center;
}
body main footer .div-contacto div svg {
  height: 1em;
  width: 1em;
}
body main footer .div-contacto a {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
body main footer .div-contacto a p {
  text-decoration: none;
  color: black;
}
body main footer .div-contacto a svg {
  height: 1em;
  width: 1em;
}
body main footer .div-contacto a:hover {
  box-shadow: 0 1px 0 0 rgb(0, 0, 0);
}

@media (max-width: 1400px) {
  body header .menu h2 {
    font-size: 1em;
  }
  body header .menu .menu-horizontal {
    gap: 20px;
  }
  body main .cont-productos {
    grid-template-columns: repeat(3, 1fr);
    margin-left: 100px;
  }
}
@media (max-height: 675px) {
  body main .filtro {
    top: 70%;
  }
  body main .cont-productos .articulo .product-name {
    font-family: "Rasputin";
    font-weight: 500;
    font-size: 1em;
    color: #333333;
  }
  body main .cont-productos .articulo .agregar {
    margin: 20px;
    min-height: 40px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7em;
    margin-bottom: 10px;
  }
}/*# sourceMappingURL=estilo.css.map */